carbon-emission-reporting/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "carbon-emission-reporting"
		},
		"emissionsadls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://carbonemissionadls.dfs.core.windows.net/"
		},
		"emissionsourcesa_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://carbonemissionsa.blob.core.windows.net/"
		},
		"Event Trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/8a19f03e-3561-45b6-b688-5b309ccd3cd2/resourceGroups/CarbonEmission/providers/Microsoft.Storage/storageAccounts/carbonemissionsa"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Emissions-MUI')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/8a19f03e-3561-45b6-b688-5b309ccd3cd2/resourcegroups/CarbonEmission/providers/Microsoft.ManagedIdentity/userAssignedIdentities/emissions-mi"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/emissionsadls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('emissionsadls_properties_typeProperties_url')]",
					"credential": {
						"referenceName": "Emissions-MUI",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/Emissions-MUI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emissionsourcesa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('emissionsourcesa_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2",
					"credential": {
						"referenceName": "Emissions-MUI",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/Emissions-MUI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emission_dynamic_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "emissionsourcesa",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "Agrofood_co2_emission.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"container": "emissions"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/emissionsourcesa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emissions_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "emissionsourcesa",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "emissions"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Area",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Savanna fires",
						"type": "String"
					},
					{
						"name": "Forest fires",
						"type": "String"
					},
					{
						"name": "Crop Residues",
						"type": "String"
					},
					{
						"name": "Rice Cultivation",
						"type": "String"
					},
					{
						"name": "Drained organic soils (CO2)",
						"type": "String"
					},
					{
						"name": "Pesticides Manufacturing",
						"type": "String"
					},
					{
						"name": "Food Transport",
						"type": "String"
					},
					{
						"name": "Forestland",
						"type": "String"
					},
					{
						"name": "Net Forest conversion",
						"type": "String"
					},
					{
						"name": "Food Household Consumption",
						"type": "String"
					},
					{
						"name": "Food Retail",
						"type": "String"
					},
					{
						"name": "On-farm Electricity Use",
						"type": "String"
					},
					{
						"name": "Food Packaging",
						"type": "String"
					},
					{
						"name": "Agrifood Systems Waste Disposal",
						"type": "String"
					},
					{
						"name": "Food Processing",
						"type": "String"
					},
					{
						"name": "Fertilizers Manufacturing",
						"type": "String"
					},
					{
						"name": "IPPU",
						"type": "String"
					},
					{
						"name": "Manure applied to Soils",
						"type": "String"
					},
					{
						"name": "Manure left on Pasture",
						"type": "String"
					},
					{
						"name": "Manure Management",
						"type": "String"
					},
					{
						"name": "Fires in organic soils",
						"type": "String"
					},
					{
						"name": "Fires in humid tropical forests",
						"type": "String"
					},
					{
						"name": "On-farm energy use",
						"type": "String"
					},
					{
						"name": "Rural population",
						"type": "String"
					},
					{
						"name": "Urban population",
						"type": "String"
					},
					{
						"name": "Total Population - Male",
						"type": "String"
					},
					{
						"name": "Total Population - Female",
						"type": "String"
					},
					{
						"name": "total_emission",
						"type": "String"
					},
					{
						"name": "Average Temperature °C",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/emissionsourcesa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emissions_gold_layer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "emissionsadls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "TotalEmissionsCombined.csv",
						"fileSystem": "gold"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Area",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Savanna fires",
						"type": "String"
					},
					{
						"name": "Forest fires",
						"type": "String"
					},
					{
						"name": "Crop Residues",
						"type": "String"
					},
					{
						"name": "Rice Cultivation",
						"type": "String"
					},
					{
						"name": "Drained organic soils (CO2)",
						"type": "String"
					},
					{
						"name": "Pesticides Manufacturing",
						"type": "String"
					},
					{
						"name": "Food Transport",
						"type": "String"
					},
					{
						"name": "Forestland",
						"type": "String"
					},
					{
						"name": "Net Forest conversion",
						"type": "String"
					},
					{
						"name": "Food Household Consumption",
						"type": "String"
					},
					{
						"name": "Food Retail",
						"type": "String"
					},
					{
						"name": "On-farm Electricity Use",
						"type": "String"
					},
					{
						"name": "Food Packaging",
						"type": "String"
					},
					{
						"name": "Agrifood Systems Waste Disposal",
						"type": "String"
					},
					{
						"name": "Food Processing",
						"type": "String"
					},
					{
						"name": "Fertilizers Manufacturing",
						"type": "String"
					},
					{
						"name": "IPPU",
						"type": "String"
					},
					{
						"name": "Manure applied to Soils",
						"type": "String"
					},
					{
						"name": "Manure left on Pasture",
						"type": "String"
					},
					{
						"name": "Manure Management",
						"type": "String"
					},
					{
						"name": "Fires in organic soils",
						"type": "String"
					},
					{
						"name": "Fires in humid tropical forests",
						"type": "String"
					},
					{
						"name": "On-farm energy use",
						"type": "String"
					},
					{
						"name": "Rural population",
						"type": "String"
					},
					{
						"name": "Urban population",
						"type": "String"
					},
					{
						"name": "Total Population - Male",
						"type": "String"
					},
					{
						"name": "Total Population - Female",
						"type": "String"
					},
					{
						"name": "total_emission",
						"type": "String"
					},
					{
						"name": "Average Temperature °C",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/emissionsadls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emissions_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "emissionsadls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/emissionsadls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emissions_silver_layer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "emissionsadls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "TotalEmissionsCombined.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/emissionsadls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Emission Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Files Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "emissions_data",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Iterate through the Metadata",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Files Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Files Metadata').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Get File Information",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "emission_dynamic_data",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"itemName",
											"lastModified",
											"columnCount"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Compare the dates",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get File Information",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(formatDateTime(activity('Get File Information').output.lastModified, 'yyyyMMddHHmmss'),\nformatDateTime(variables('PreviousModifiedDate'), 'yyyyMMddHHmmss'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Set FileName",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "LatestFileName",
													"value": {
														"value": "@activity('Get File Information').output.itemName",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set Column Count",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set FileName",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "ColumnCount",
													"value": {
														"value": "@activity('Get File Information').output.columnCount",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Compare the dates",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousModifiedDate",
										"value": {
											"value": "@activity('Get File Information').output.lastModified",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Column Count Validation",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Iterate through the Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('ColumnCount'), 31)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Validation Failed",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "There was a column mismatch",
										"errorCode": "500"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy Emissions Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "emission_dynamic_data",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@variables('LatestFileName')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "emissions_raw",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"LatestFileName": {
						"type": "String"
					},
					"PreviousModifiedDate": {
						"type": "String",
						"defaultValue": "1990-01-01T05:12:22Z"
					},
					"ColumnCount": {
						"type": "Integer",
						"defaultValue": 31
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-04-08T08:08:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/emissions_data')]",
				"[concat(variables('factoryId'), '/datasets/emission_dynamic_data')]",
				"[concat(variables('factoryId'), '/datasets/emissions_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Emission Raw to Silver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Union all the files",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "emissions_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "emissions_gold_layer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/emissions_raw')]",
				"[concat(variables('factoryId'), '/datasets/emissions_gold_layer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformations')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "emissions_silver_layer",
								"type": "DatasetReference"
							},
							"name": "EmissionsDataset"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "emissions_gold_layer",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "emissionsadls",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "Rankingtoremoveduplicates"
						},
						{
							"name": "RemoveDuplicates"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Area as string,",
						"          Year as short,",
						"          {Savanna fires} as double,",
						"          {Forest fires} as double,",
						"          {Crop Residues} as double,",
						"          {Rice Cultivation} as double,",
						"          {Drained organic soils (CO2)} as double,",
						"          {Pesticides Manufacturing} as double,",
						"          {Food Transport} as double,",
						"          Forestland as double,",
						"          {Net Forest conversion} as double,",
						"          {Food Household Consumption} as double,",
						"          {Food Retail} as double,",
						"          {On-farm Electricity Use} as double,",
						"          {Food Packaging} as double,",
						"          {Agrifood Systems Waste Disposal} as double,",
						"          {Food Processing} as double,",
						"          {Fertilizers Manufacturing} as double,",
						"          IPPU as double,",
						"          {Manure applied to Soils} as double,",
						"          {Manure left on Pasture} as double,",
						"          {Manure Management} as double,",
						"          {Fires in organic soils} as double,",
						"          {Fires in humid tropical forests} as double,",
						"          {On-farm energy use} as double,",
						"          {Rural population} as double,",
						"          {Urban population} as double,",
						"          {Total Population - Male} as double,",
						"          {Total Population - Female} as double,",
						"          total_emission as double,",
						"          {Average Temperature °C} as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> EmissionsDataset",
						"EmissionsDataset window(over(Area,",
						"          Year),",
						"     asc(Area, true),",
						"     RNK = rowNumber()) ~> Rankingtoremoveduplicates",
						"Rankingtoremoveduplicates filter(RNK==1) ~> RemoveDuplicates",
						"RemoveDuplicates sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Area as string,",
						"          Year as string,",
						"          {Savanna fires} as string,",
						"          {Forest fires} as string,",
						"          {Crop Residues} as string,",
						"          {Rice Cultivation} as string,",
						"          {Drained organic soils (CO2)} as string,",
						"          {Pesticides Manufacturing} as string,",
						"          {Food Transport} as string,",
						"          Forestland as string,",
						"          {Net Forest conversion} as string,",
						"          {Food Household Consumption} as string,",
						"          {Food Retail} as string,",
						"          {On-farm Electricity Use} as string,",
						"          {Food Packaging} as string,",
						"          {Agrifood Systems Waste Disposal} as string,",
						"          {Food Processing} as string,",
						"          {Fertilizers Manufacturing} as string,",
						"          IPPU as string,",
						"          {Manure applied to Soils} as string,",
						"          {Manure left on Pasture} as string,",
						"          {Manure Management} as string,",
						"          {Fires in organic soils} as string,",
						"          {Fires in humid tropical forests} as string,",
						"          {On-farm energy use} as string,",
						"          {Rural population} as string,",
						"          {Urban population} as string,",
						"          {Total Population - Male} as string,",
						"          {Total Population - Female} as string,",
						"          total_emission as string,",
						"          {Average Temperature °C} as string",
						"     ),",
						"     partitionFileNames:['sourcepbi.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          area = Area,",
						"          year = Year,",
						"          savanna_fires = {Savanna fires},",
						"          forest_fires = {Forest fires},",
						"          crop_residues = {Crop Residues},",
						"          rice_cultivation = {Rice Cultivation},",
						"          drained_organic_soils = {Drained organic soils (CO2)},",
						"          pest_manufacturing = {Pesticides Manufacturing},",
						"          food_transport = {Food Transport},",
						"          forestland = Forestland,",
						"          net_forest_conversion = {Net Forest conversion},",
						"          food_household_conversion = {Food Household Consumption},",
						"          food_retail = {Food Retail},",
						"          onfm_electricity = {On-farm Electricity Use},",
						"          food_packaging = {Food Packaging},",
						"          agri_waste_disposal = {Agrifood Systems Waste Disposal},",
						"          food_processing = {Food Processing},",
						"          fert_manufacturing = {Fertilizers Manufacturing},",
						"          ippu = IPPU,",
						"          manure_on_soil = {Manure applied to Soils},",
						"          manure_on_pasture = {Manure left on Pasture},",
						"          manure_management = {Manure Management},",
						"          fires_in_organic_soil = {Fires in organic soils},",
						"          fires_in_humid_forest = {Fires in humid tropical forests},",
						"          on_farm_energy_use = {On-farm energy use},",
						"          rural_pop = {Rural population},",
						"          urban_pop = {Urban population},",
						"          tot_pop_m = {Total Population - Male},",
						"          tot_pop_f = {Total Population - Female},",
						"          tot_emission = total_emission,",
						"          avg_temp = {Average Temperature °C}",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/emissions_silver_layer')]",
				"[concat(variables('factoryId'), '/datasets/emissions_gold_layer')]",
				"[concat(variables('factoryId'), '/linkedServices/emissionsadls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformation using Data Flow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data Flow Pipeline",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Transformations",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EmissionsDataset": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Transformations')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Emission Master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Source Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Emission Ingestion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ingest from Raw to Silver",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Source Ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Emission Raw to Silver",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Transformations",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ingest from Raw to Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformation using Data Flow",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Emission Ingestion')]",
				"[concat(variables('factoryId'), '/pipelines/Emission Raw to Silver')]",
				"[concat(variables('factoryId'), '/pipelines/Transformation using Data Flow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Event Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Emission Master",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/emissions/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Event Trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Emission Master')]"
			]
		}
	]
}